body {
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 85%;
    width: 700px;
    margin: 0 auto;
    padding: 10px;
    background-color: #1c465e;
}

section 
{
    padding: 1em;
    border: solid;
    border-color: #1c465e;
    border-width: 5px;
}

#grdCustomers {
    border: 1px solid #999999; 
    float: left;
    padding-top: 10000px;
}

#data {
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-color: #1c465e;
    border-width: 5px;
}

#controls {
    text-align:right;
    margin-bottom: 10px;
}

.error {
    color: Red;
}

#DetailsView1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.auto-style1 {
    width: 702px;
    height: 146px;
}

#h1AddInfo {
    text-align: center;
    color: white;
}